{% extends 'general.html.twig' %}

{% block title %}ExChange{% endblock %}

{% block body %}
<main>
    <div id="messageModal" class="modal">
        <form method="post" action="/mandarMensaje">
            <div class="modal-content">
                <div class="input-field col s12">
                    <h5 class="blue-text">Introduzca el correo del receptor</h5>
                    <div class="row">
                        <label for="receptor">Email</label>
                        <input type="email" name="receptor" id="receptor" required>
                    </div>
                    <div class="input-field col s12">
                        <textarea id="contact-info" name="contact-info" class="materialize-textarea" required></textarea>
                        <label for="contact-info">Información</label>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a href="#" class="modal-close waves-effect btn-flat waves-red">Cancelar</a>
                <button class="modal-close waves-effect blue btn white-text" type="submit">Enviar</button>
            </div>
        </form>
    </div>
    <a href="#messageModal" class="btn-floating btn-large waves-effect waves-light blue darken-4 create-message modal-trigger"><i class="material-icons">add</i></a>
    

     {% for msg in mensajes %}

        {% if msg.getLeido==0 %}
            
            <article class="card cyan lighten-4 blue-text text-darken-4">
                <p class="time">{{ msg.getRemitente() }}</p>
                <p class="time">{{ msg.getContenido() }}</p>

            </article>

        {% elseif msg.getLeido==1 %}

            <article class="card cyan lighten-4 blue-text text-darken-4">
                <p class="time">{{ msg.getId() }}</p>
                <p class="time">{{ msg.getRemitente() }}</p>
                <p class="time">{{ msg.getContenido() }}</p>

            </article>

          
        {% endif %}
      {% endfor %}
</main>
{% endblock %}