{% extends 'general.html.twig' %}

{% block title %}ExChange{% endblock %}

{% block body %}
<main>
    <div id="messageModal" class="modal">
        <form method="post" action="/mandarMensaje">
            <div class="modal-content">
                <h2 class="section-title blue-text center">Nuevo correo</h2>
                <div class="input-field col s12">
                    <input type="email" name="receptor" id="receptor" required>
                    <label for="receptor">Email</label>
                </div>
                <div class="input-field col s12">
                    <textarea id="contact-info" name="contact-info" class="materialize-textarea" required></textarea>
                    <label for="contact-info">Información</label>
                </div>
            </div>
            <div class="modal-footer">
                <a href="#" class="modal-close waves-effect btn-flat waves-red">Cancelar</a>
                <button class="modal-close waves-effect blue btn white-text" type="submit">Enviar</button>
            </div>
        </form>
    </div>
    <a href="#messageModal" class="btn-floating btn-large waves-effect waves-light blue darken-4 create-message modal-trigger"><i class="material-icons">add</i></a>
    <h2 class="page-title blue-text center smaller">Bandeja de entrada</h2>
    <ul class="collapsible popout messages-list">
     {% for msg in mensajes %}

        {% if msg.getLeido==0 %}
            
            <li>
                <div class="collapsible-header">
                    <i class="material-icons">fiber_new</i>
                    {{ msg.getRemitente() }}{# <p class="right">{{ msg.getDate() }}</p> #}
                </div>
                <div class="collapsible-body">
                    <button type="submit" value="{{ msg.getId }}" class="waves-effect waves-light btn-small blue">
                        <i class="material-icons">drafts</i>
                    </button>
                    <span>{{ msg.getContenido() }}</span>
                </div>
            </li>

        {% elseif msg.getLeido==1 %}

            <li>
                <div class="collapsible-header"><i class="material-icons"></i>{{ msg.getRemitente() }}</div>
                <div class="collapsible-body"><span>{{ msg.getContenido() }}</span></div>
            </li>

          
        {% endif %}
      {% endfor %}
</main>
{% endblock %}