{% extends 'general.html.twig' %}

{% block title %}ExChange{% endblock %}

{% block body %}
<main>
    <form method="get" action="/search">
    <div class="input-field col s12">
        <h5 class="blue-text">Filtrar Categoría</h5>
        <select class="blue" name="cat">
            <option value="none" selected>Escoge una categoría</option>
            {% if categorias %}
                {% for categoria in categorias %}
                    <option value="{{ categoria.getNombreCategoria }}">{{ categoria.getNombreCategoria }}
                    </option>
                {% endfor %}
            {% endif %}
        </select>
    </div>
    <div class="input-field col s12">
        <h5 class="blue-text">Filtrar Ciudad</h5>
        <select class="blue" name="city">
            <option value="none" selected>Escoge una ciudad</option>
            {% if ciudades %}
                {% for ciudad in ciudades %}
                    <option value="{{ ciudad.getNombreC }}">{{ ciudad.getNombreC }}</option>
                {% endfor %}
            {% endif %}
        </select>
    </div>
    <button class="btn btn-lg btn-primary" type="submit">Buscar</button>
    </form>
    {% if user != 'anon.' %}
  <div id="requestModal" class="modal">
    <form method="post" action="/request">
      <div class="modal-content">
        <h2 class="section-title blue-text center">Solicitar servicio</h2>
        <div class="row">
          <section class="col hide-on-med-and-down m6 l6 xl5 section-article-request">
            <article class="card cyan lighten-4 blue-text text-darken-4 service">
              <p>ExChange</p>
              <h3></h3>
              <h4></h4>
              <p class="category-text">Mascotas</p>
            </article>
          </section>
          <section class="col s12 l6 xl7">
            <div class="input-field">
              <input id="fecha" type="text" name="fecha" class="datepicker">
              <label for="fecha">Fecha</label>
            </div>
            <div class="input-field">
              <input id="hora" type="text" name="hora" class="timepicker">
              <label for="hora">Hora</label>
            </div>
            <div class="input-field">
              <textarea id="descripcion" name="descripcion" class="materialize-textarea"></textarea>
              <label for="descripcion">Descripción</label>
            </div>
          </section>
        </div>
      </div>
      <div class="modal-footer">
        <a href="#" class="modal-close waves-effect btn-flat waves-red">Cancelar</a>
        <button class="modal-close waves-effect blue btn white-text" type="submit">Solicitar</button>
        {# <button class="btn btn-lg btn-primary modal-close" type="submit">Crear servicio</button> #}
      </div>
    </form>
  </div>
  {% endif %}
    <section class="latest-services">
        <h2 class="section-title blue-text">Resultados:</h2>
        <div class="services-list search-list">
            {% for servicio in serviciosPorCiudad %}
            <article class="card cyan lighten-4 blue-text text-darken-4">
                <p>f {# <h4>{{ servicio.getUsuario }}H</h4> #} </p>
                <h3>{{ servicio.getDescripcionServicio }}</h3>
                <p class="time">{{ servicio.getDuracionServicio }}H</p>
                <p class="points"> {{ servicio.getValoracion }}<i class="material-icons">star_border</i></p>
                <p class="category-text">{{ servicio.getIdCategoria }}</p>
                <input type="hidden" value="{{ servicio.getId }}" name="service-id" class="service-id">
                {% if user != 'anon.' %}
                <a href="#requestModal" class="cyan darken-3 white-text waves-effect waves-light modal-trigger request-btn">Solicitar</a>
                {% else %}
                <a href="/login" class="cyan darken-3 white-text waves-effect waves-light">Solicitar</a>
                {% endif %}
            </article>
            {% endfor %}
        </div>
    </section>
      {% if errorServicio is defined %}
          <h3>{{ errorServicio }}<h3>
      {% endif %}
</main>
{% endblock %}