{% extends 'general.html.twig' %}

{% block title %}ExChange{% endblock %}

{% block body %}

<main>
  {# <section>
    <h2 class="section-title blue-text">Bienvenido</h2>
  </section> #}
  {% if user != 'anon.' %}
  <div id="requestModal" class="modal">
    <form method="post" action="/request">
      <div class="modal-content">
        <h2 class="section-title blue-text center">Solicitar servicio</h2>
        <div class="row">
          <section class="col hide-on-med-and-down m6 l6 xl5">
            <article class="card cyan lighten-4 blue-text text-darken-4 service">
              <p>Manuel Luján Jiménez</p>
              <h3>Saco a pasear a mascotas</h3>
              <h4>1h</h4>
              <p class="category-text">Mascotas</p>
            </article>
          </section>
          <section class="col s12 l6 xl7">
            <div class="input-field">
              <input id="prueba" type="text" name="prueba">
              <label for="prueba">Prueba</label>
            </div>
          </section>
        </div>
      </div>
      <div class="modal-footer">
        <a href="#" class="modal-close waves-effect btn-flat waves-red">Cancelar</a>
        <button class="modal-close waves-effect blue btn white-text" type="submit">Solicitar</button>
        {# <button class="btn btn-lg btn-primary modal-close" type="submit">Crear servicio</button> #}
      </div>
    </form>
  </div>
  {% endif %}
  <section class="latest-services">
    <h2 class="section-title blue-text">Ultimos servicios</h2>
    <div class="services-list">
      {% for servicio in ofertas_recientes %}
      <article class="card cyan lighten-4 blue-text text-darken-4">
        <p>f {# <h4>{{ servicio.getUsuario }}H</h4> #} </p>
        <h3>{{ servicio.getDescripcionServicio }}</h3>
        <p class="time">{{ servicio.getDuracionServicio }}H</p>
        <p class="points"> {{ servicio.getValoracion }}<i class="material-icons">star_border</i></p>
        <p class="category-text">{{ servicio.getIdCategoria }}</p>
        <input type="hidden" value="{{ servicio.getId }}" name="service-id" class="service-id">
        {% if user != 'anon.' %}
          <a href="#requestModal" class="cyan darken-3 white-text waves-effect waves-light modal-trigger request-btn">Solicitar</a>
        {% else %}
          <a href="/login" class="cyan darken-3 white-text waves-effect waves-light">Solicitar</a>
        {% endif %}
      </article>
      {% endfor %}
    </div>
  </section>
  <section class="most-demanded-services">
    <h2 class="section-title blue-text">Servicios más demandados</h2>
    <div class="services-list">
      {% for mejor_valorado in mejor_valoradas %}
        <article class="card cyan lighten-4 blue-text text-darken-4">
          <p>f {# <h4>{{ servicio.getUsuario }}H</h4> #} </p>
          <p class="ranking">#{{loop.index}}</p>
          <h3>{{ mejor_valorado.getDescripcionServicio }}</h3>
          <p class="time">{{ mejor_valorado.getDuracionServicio }}H</p>
          <p class="points"> {{ mejor_valorado.getValoracion }}<i class="material-icons">star_border</i></p>
          <p class="category-text">{{ mejor_valorado.getIdCategoria }}</p>
          <input type="hidden" value="{{ mejor_valorado.getId }}" name="service-id" class="service-id">
          {% if user != 'anon.' %}
            <a href="#requestModal" class="cyan darken-3 white-text waves-effect waves-light modal-trigger request-btn">Solicitar</a>
          {% else %}
            <a href="/login" class="cyan darken-3 white-text waves-effect waves-light">Solicitar</a>
          {% endif %}
        </article>
        {% endfor %}
    </div>
  </section>
  {# <section class="most-demanded-services"> #}
  
    {# <h2 class="section-title blue-text">Introducir nueva</h2>
    <div class="services-list">
      <article class="card blue accent-1">

        <form method="post" action="/enviaroferta">
          <p class="user-text">Manuel Luján Jiménez</p>

          <select name="servicio" class="category-text">
            {% if categorias %}
                {% for categoria in categorias %}
                    <option value="{{ categoria.getNombreCategoria }}">{{ categoria.getNombreCategoria }}</option>
                {% endfor %}
            {% endif %}
            <label for="inputDescripcion" class="sr-only" laceholder="Descripcion"></label>
            <input type="text" name="descripcion" id="inputDescripcion" class="form-control" placeholder="Descripcion" autofocus>
            <input type="number" name="duracionservicio" id="inputTime" class="form-control" min="1" max="6" placeholder="Duracion del servicio">
            <input type="hidden" name="username" id="username" class="form-control" placeholder="userName" value="{{app.user.username}}">

            <button class="btn btn-lg btn-primary" type="submit">Crear servicio</button>
          </select>
      </form>
      </article>
    </div> #}
  {# </section> #}
</main>

{% endblock %}
