{% extends 'general.html.twig' %}

{% block title %}ExChange{% endblock %}

{% block body %}

<main>
  {% if user != 'anon.' %}
  <div id="requestModal" class="modal">
    <form method="post" action="/request">
      <div class="modal-content">
        <h2 class="section-title blue-text center">Solicitar servicio</h2>
        <div class="row">
          <section class="col hide-on-med-and-down m6 l6 xl5 section-article-request">
            <article class="card cyan lighten-4 blue-text text-darken-4 service">
              <p>Manuel Luján Jiménez</p>
              <h3>Saco a pasear a mascotas</h3>
              <h4>1h</h4>
              <p class="category-text">Mascotas</p>
            </article>
          </section>
          <section class="col s12 l6 xl7">
            <div class="input-field">
              <input id="fecha" type="text" name="fecha" class="datepicker">
              <label for="fecha">Fecha</label>
            </div>
            <div class="input-field">
              <input id="hora" type="text" name="hora" class="timepicker">
              <label for="hora">Hora</label>
            </div>
            <div class="input-field">
              <textarea id="descripcion" name="descripcion" class="materialize-textarea"></textarea>
              <label for="descripcion">Descripción</label>
            </div>
          </section>
        </div>
      </div>
      <div class="modal-footer">
        <a href="#" class="modal-close waves-effect btn-flat waves-red">Cancelar</a>
        <button class="modal-close waves-effect blue btn white-text" type="submit">Solicitar</button>
        {# <button class="btn btn-lg btn-primary modal-close" type="submit">Crear servicio</button> #}
      </div>
    </form>
  </div>
  {% endif %}
  <section class="section-title blue-text">
    <h2>Bienvenidos</h2>
  </section>
  <section class="latest-services">
    <h2 class="section-title blue-text">Ultimos servicios</h2>
    <div class="services-list">
      {% for servicio in ofertas_recientes %}
      <article class="card cyan lighten-4 blue-text text-darken-4">
        <p>f {# <h4>{{ servicio.getUsuario }}H</h4> #} </p>
        <h3>{{ servicio.getDescripcionServicio }}</h3>
        <h4>{{ servicio.getDuracionServicio }}H</h4>
        <p class="category-text">{{ servicio.getIdCategoria }}</p>
        <input type="hidden" value="{{ servicio.getId }}" name="service-id" class="service-id">
        {% if user != 'anon.' %}
          <a href="#requestModal" class="cyan darken-3 white-text waves-effect waves-light modal-trigger request-btn">Solicitar</a>
        {% else %}
          <a href="/login" class="cyan darken-3 white-text waves-effect waves-light">Solicitar</a>
        {% endif %}
      </article>
      {% endfor %}
    </div>
  </section>
  <section class="most-demanded-services">
    <h2 class="section-title blue-text">Servicios más demandados</h2>
    <div class="services-list">
        {% for mejor_valorado in mejor_valoradas %}
        <article class="card cyan lighten-4 blue-text text-darken-4">
          <p>f {# <h4>{{ servicio.getUsuario }}H</h4> #} </p>
          <p class="ranking">#{{loop.index}}</p>
          <h3>{{ mejor_valorado.getDescripcionServicio }}</h3>
          <h4>{{ mejor_valorado.getDuracionServicio }}H</h4>
          <p class="category-text">{{ mejor_valorado.getIdCategoria }}</p>
          <input type="hidden" value="{{ mejor_valorado.getId }}" name="service-id" class="service-id">
          <p class="points"></p>
          {% if user != 'anon.' %}
            <a href="#requestModal" class="cyan darken-3 white-text waves-effect waves-light modal-trigger request-btn">Solicitar</a>
          {% else %}
            <a href="/login" class="cyan darken-3 white-text waves-effect waves-light">Solicitar</a>
          {% endif %}
        </article>
        {% endfor %}
    </div>
  </section>
  
  {# <section class="most-demanded-services">
    <h2 class="section-title blue-text">Buscador de ofertas</h2> #}
  {# <div class> #}

  {# <form method="post" action="/buscarservicios">

        <h3>Nombre de la categoria</h3>
       <select name="categorias" class="category-text">
            {% if categorias %}
                {% for categoria in categorias %}
                    <option value="{{ categoria.getNombreCategoria }}">{{ categoria.getNombreCategoria }}</option>
                {% endfor %}
            {% endif %}
        </select>
        <h3>Nombre de la ciudad</h3>
        <select name="ciudades" class="category-text">
            {% if ciudades %}
                {% for ciudad in ciudades %}
                    <option value="{{ ciudad.getNombreC }}">{{ ciudad.getNombreC }}</option>
                {% endfor %}
            {% endif %}
        </select>
        <button class="btn btn-lg btn-primary" type="submit">Buscar</button>
      </form>

  {# <article class="card blue accent-1">
      {% if serviciosPorCiudad is defined %}
          <ul>
            {% for servicios in serviciosPorCiudad %}
                <li>{{ servicios.getDescripcionServicio }}</li>
            {% endfor %}
          <ul>
      {% endif %}
      
      {% if errorServicio is defined %}
          <h3>{{ errorServicio }}<h3>
      {% endif %}
      </article> #}

  {# </div>
  </section> #}


</main>
{% endblock %}